/* 
color
#083b4c
*/

:root {
  --bg: #083b4c ;
  --number: #1389b2 ;
  --fizz: #0cd6a1 ;
  --buzz: #ffd166 ;
  --fizzbuzz: #f0466f ;
}

body {
  background-color: var(--bg);
  color: white;
  text-align: center;
  font-weight: 700;
}

h1 {
  font-weight: 700;
  font-size: 100px;
}

.box-container {
  margin: 0 auto;
  max-width: 1200px;  
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.box-item {
  width: 80px; 
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-item:hover {
  opacity: 0.6;
}

.bg-fizz{
  background-color: var(--fizz);
}

.bg-buzz{
  background-color: var(--buzz);
}

.bg-fizzbuzz{
  background-color: var(--fizzbuzz);
}

.bg-number{
  background-color: var(--number);
}